<form class="p-4 tablet:min-w-[650px]" [formGroup]="form">
  <div class="grid tablet:grid-cols-2 grid-cols-1 gap-4">
    @for ( formInput of formInputs; track formInput.id) {
      @switch (formInput.type) {
        @case ("select") {
          <app-input-select [inputData]="formInput" [form]="form"></app-input-select>
        }
        @case ("textarea") {
          <app-input-textarea [inputData]="formInput" [form]="form"></app-input-textarea>
        }
        @default {
          <app-input-text [inputData]="formInput" [form]="form"></app-input-text>
        }
      }
    }
  </div>
  <div class="mt-6">
    <app-button class="max-tablet:w-full" type="submit" [class]="'p-3 max-tablet:w-full poppins-medium'">
      Add new transaction
    </app-button>
  </div>
</form>
