<div class="max-w-full overflow-auto">
  <table class="w-full">
    <thead class="">
      <tr class="text-color-6 ">
        <th class=" poppins-medium max-laptop:min-w-[140px] border border-bdr-secondary p-3 text-[12px] text-left">Transaction Date</th>
        <th class=" poppins-medium max-laptop:min-w-[140px] border border-bdr-secondary p-3 text-[12px] text-left">Category Type</th>
        <th class=" poppins-medium max-laptop:min-w-[140px] border border-bdr-secondary p-3 text-[12px] text-left">Transaction Type</th>
        <th class=" poppins-medium max-laptop:min-w-[140px] border border-bdr-secondary p-3 text-[12px] text-left">Location</th>
        <th class=" poppins-medium max-laptop:min-w-[140px] border border-bdr-secondary p-3 text-[12px] text-left">Amount</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">20/12/2023</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Food</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Income</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Mississauga</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">25000</td>
      </tr>
      <tr>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">20/12/2023</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Food</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Income</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Mississauga</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">25000</td>
      </tr>
      <tr>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">20/12/2023</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Food</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Income</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">Mississauga</td>
        <td class="text-color-6 text-[12px] p-[10px] border border-bdr-secondary poppins-regular">25000</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex items-center justify-end gap-3 mt-2">
  <div class="flex items-center gap-1">
      <span class="text-color-8 text-[11px] poppins-light">Per Page</span>
      <select class="border-[#ccd1e3] border rounded p-[2px] text-[11px]">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
  </div>
  <div class="border-bdr-primary border-r-[1px] h-[20px] tablet:block hidden"></div>
  <div class="tablet:flex items-center gap-1 hidden">
    <span class="text-color-8 text-[11px] poppins-light">Jump to</span>
     <select class="border-[#ccd1e3] border rounded p-[2px] text-[11px]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
  </div>
  <div class="flex gap-[2px] items-center">
    <span class="material-icons text-lg font-light text-color-1 tablet:block hidden">first_page</span>
    <span class="material-icons text-lg font-light text-color-1">chevron_left</span>
    <div class="flex">
      <div class="text-[10px] poppins-regular rounded py-1 px-2 cursor-pointer text-color-9">1</div>
      <div class="bg-color-1 poppins-regular text-[10px] text-white rounded  py-1 px-2 cursor-pointer">2</div>
      <div class="text-[10px] poppins-regular rounded  py-1 px-2 cursor-pointer  text-color-9">...</div>
      <div class="text-[10px] poppins-regular rounded  py-1 px-2 cursor-pointer  text-color-9">6</div>
      <div class="text-[10px] poppins-regular rounded  py-1 px-2 cursor-pointer  text-color-9">7</div>
    </div>
    <span class="material-icons text-lg font-light text-color-1">chevron_right</span>
    <span class="material-icons text-lg font-light text-color-1 tablet:block hidden">last_page</span>
  </div>

</div>
