<div class="relative">
  <div class="relative w-full flex flex-col" [formGroup]="form">
    <input [formControlName]="inputData.id" class="Input_form_input rounded w-full border poppins-regular focus:border-color-1 border-bdr-secondary h-12 z-10 relative outline-none p-3 text-[13px]" [type]="inputData.type" placeholder=" "  autocomplete="off">
    <label for=" " class="Input_form_label poppins-regular text-sm text-color-10 absolute left-4 top-4 poppin-regular transition-all duration-300 leading-4">{{inputData.label}}</label>
  </div>

</div>
