
<section id="dashboard" class="p-4 max-w-full">
    <div class="mb-4 max-tablet:flex-col gap-4 flex tablet:items-center tablet:justify-between">
      <span class="text-sm poppins-regular text-color-1">Hi, Welcome</span>
      <div class="flex max-tablet:flex-col gap-4">
        <div class="laptop:w-44 max-tablet:w-full tablet:w-44  desktop:w-52">
          <app-input-select (valueChanged)="changeUser($event)" [formCtrl]="userFormCtrl" [inputData]="userFormCtrlData"></app-input-select>
        </div>
      </div>

    </div>
  <div
    class="grid tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-5 gap-4"
  >
    @for (card of _transactionService.transactionSummaryCardData(); track card.id) {
      <app-card>
        <div class="px-2">
          <div>
            <app-chip-label [title]="card.title"></app-chip-label>
          </div>
          <div class="grid grid-cols-2 mt-3">
            <div>
              <div class="text-color-5 text-xs  poppins-regular">This Month</div>
              <b
                class="poppins-semibold"
                [ngClass]="{
                  'text-color-7': (card.isIncome &&  card.currentMonth > card.lastMonth) || (!card.isIncome &&  card.currentMonth < card.lastMonth),
                  'text-color-1': (card.isIncome &&  card.currentMonth < card.lastMonth) || (!card.isIncome &&  card.currentMonth > card.lastMonth),
                  'text-black': card.currentMonth == card.lastMonth
                }"
              >{{card.currentMonth | currency}}</b>
            </div>
            <div>
              <div class="text-color-5 text-xs  poppins-regular">Last Month</div>
              <b
                class="poppins-semibold"
                [ngClass]="{
                  'text-color-7': (card.isIncome && card.currentMonth < card.lastMonth) || (!card.isIncome &&  card.currentMonth > card.lastMonth),
                  'text-color-1': (card.isIncome && card.currentMonth > card.lastMonth) || (!card.isIncome &&  card.currentMonth < card.lastMonth),
                  'text-color-5': card.currentMonth == card.lastMonth
                }"
              >{{card.lastMonth | currency}}</b>
            </div>
          </div>
          <div class="text-[11px] poppins-semibold mt-1" [ngClass]="
            {
              'text-color-7': (card.isIncome && card.getIncomePercentage() > 0) || (!card.isIncome && card.getIncomePercentage() < 0),
              'text-color-1': (card.isIncome && card.getIncomePercentage() < 0 )|| (!card.isIncome && card.getIncomePercentage() > 0)
            }
          ">
            {{ card.getIncomePercentage() | percent: '0.2'}}
          </div>
        </div>
      </app-card>
    }
  </div>
  <div class="mt-4">
    <div class="flex max-laptop:flex-col-reverse gap-4">
      <div class="laptop:w-8/12">
        <app-card>
          <app-chart [chartOptions]="chartOptions"></app-chart>
        </app-card>

        <app-card class="mt-4">
          <app-chart [chartOptions]="areaChartData"></app-chart>
        </app-card>
      </div>
      <div class="flex laptop:w-4/12 flex-col gap-4">
        <app-card>
          <app-chart [chartOptions]="pieChartData"></app-chart>
        </app-card>
        <app-card>
          <app-chart [chartOptions]="bulletChartData"></app-chart>
        </app-card>
      </div>
    </div>
  </div>
  <app-card class="mt-4">
    <div class="flex max-laptop:flex-col gap-4 laptop:justify-between mb-4">
      <div class="flex flex-wrap ">
        @for ( filter of filtersData; track filter.id) {
          <div class=" min-w-[150px] p-2 tablet:w-[50%] laptop:w-[25%]">
            <app-input-select [class]="'filter-bg'" (valueChanged)="setFilterData()" [form]="filterForm" [inputData]="filter"></app-input-select>
          </div>

        }

      </div>
      <div class="flex justify-end">
         <app-button [class]="'h-[48px]  min-w-[150px]'" (onClick)="showPopup()">
            <div class="flex items-center justify-center gap-1 ">
              <span class="material-icons text-lg leading-none">add</span>
              Add Transaction
            </div>
          </app-button>
      </div>

    </div>

    <app-table [tableCols]="transactionTableColumns" (tableActionsEvent)="tableActionsCTA($event)" [tableRows]="tableData"></app-table>
  </app-card>
</section>
